<div class="container-fluid bg-info text-white">
    <!-- logo -->
    <div class="row align-items-center py-3">
        <div class="col-12 col-md-4 text-center text-md-start">
            <h3 class="fw-bold mb-0" routerLink="/">
                <i class="fa-solid fa-city fa-beat"></i>&nbsp;&nbsp;Shop MART
            </h3>
        </div>

        <!-- search bar -->
        <div class="col-12 col-md-4 my-3 my-md-0 d-flex justify-content-center">
            <div class="input-group w-100 w-md-75">
                <input type="text" placeholder="Search" class="form-control" />
                <button class="btn btn-outline-light">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>

        <!-- buttons -->
        <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end flex-wrap gap-2">
            <button routerLink="/wishlist" class="btn btn-outline-light">
                <i class="fa-solid fa-heart"></i> Wishlist
                <span class="badge text-bg-secondary">{{ wishListCount }}</span>
            </button>

            <button routerLink="/cart" class="btn btn-outline-light">
                <i class="fa-solid fa-cart-shopping"></i> Cart
                <span class="badge text-bg-secondary">{{ cartCount }}</span>
            </button>

            <button *ngIf="!loginUserName" routerLink="/login" class="btn btn-outline-light rounded-pill">
                <i class="fa-solid fa-user"></i> Login
            </button>

            <button *ngIf="loginUserName" (click)="logout()" class="btn btn-outline-light rounded-pill">
                <i class="fa-solid fa-power-off"></i> {{ loginUserName }}
            </button>
        </div>
    </div>
</div>