.bgImage{
    background-image: url(https://st4.depositphotos.com/13193658/30137/i/450/depositphotos_301375510-stock-illustration-young-woman-holding-credit-card.jpg);
    width: 100%;
    height: 100%;
    margin-left: 25px;
}