.bgImage{
    background-image: url(https://mandc-bl-assets.s3.amazonaws.com/live/drakecircus/2023/06/20160223/tax-free_shopping_960x600px.jpg);
    width: 100%;
    height: 100%;
    margin-left: 25px;
}